<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin page</title>
    </head>
    <body>
        <h1>You are now in Admin page!</h1>
        <p>
            Search by username
        </p>
        <form action="#" th:action="@{/search}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <a th:href="@{/signups}">See list of sign up requests</a>
        <p></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
