<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Singups</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Sign ups so far</h1>
        <ul>
            <li th:each="item : ${items}">
                <span th:text="${item.name}">item</span>
                <span th:text="${item.address}">address</span>
            </li>
        </ul>
        <p>
            <a th:href="@{/}">Back to home page</a>
        </p>
    </body>
</html>
